<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include('_header'); %>

    <p>Codeial / <%= title %></p>

    <%- include('_footer'); %>
</body>
</html>